VITE_API_BASE_URL=http://localhost:7071/api
VITE_TENANT_ASSET_URL=http://localhost:7071/tenancy/assets/
VITE_CENTRAL_ASSET_URL=http://localhost:7071/storage/
VITE_CENTRAL_API_URL=http://localhost:7071/api
VITE_GOOGLE_MAPS_API_KEY=
